# Git
.git
.gitignore

# Node/yarn
node_modules

# Go build artifacts
bin
build
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Editors/OS
.vscode
.idea
.DS_Store
Thumbs.db

# Vercel local dir
.vercel
